doctype html
html
  head
    title Shortr - Shorten your URLs
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body 
    .main-container
      .heading-container
        h1 Shortr
        h2 Shorten your URLs!
      .flash-container
        h4#flash
      #view-container

    script(src="js/index.js")
    script 
      | FormView.init();