html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/fall-autumn-red-season.jpg");
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  height: 75%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.9);
}

@media(max-width: 480px) {
  .main-container {
    width: 100%;
    height: 100%;
  }
}

.heading-container {
  margin-top: 5%;
  color: white;
  text-align: center;
}

#flash {
  opacity: 0;
  color: white;
}

#view-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 80%;
}

button {
  height: 10%;
  background: white;
  color: black;
  border: none;
  
}

input {
  height: 10%;
  text-align: center;
}

input, button, #view-container > a {
  margin: 2%;
}

#view-container > a {
  text-align: center;
}